# tag that will be attached to all resources
main_project_tag = "hashi"

# provider vars
vsphere_server   = "2.3.4.5"
vsphere_username = "administrator@vsphere.local"
vsphere_password = "<PASSWORD>"
vsphere_insecure = true

# datacenter specific
vsphere_datacenter = "dc-01"
vsphere_cluster    = "cluster-01"
vsphere_datastore  = "datastore-01"
vsphere_network    = "VM Network"

# vm specific
vm_count     = 1
vm_cpus      = 2
vm_memory    = "2048" # MB
vm_disk_size = "10"    # GB
